body {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  padding: 10px 12px 12px 12px;
  margin: 0;
  color: #2c3e50;
}

.desc {
  min-width: 100px;
  max-width: 300px;
  white-space: nowrap;
  font-weight: bold;
}
